*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-style: normal;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    overflow-x: hidden;
}

.secction-100{
    position: absolute;
    width: 100vw;
    height: 736px;
    background-size: 3008px;
    background-position: center;
}

.section-50-left{
    margin-top: 25px;
    width: calc(50% - 20px);
    height: 580px;
    background-size: 1262px 580px;
    background-repeat: no-repeat;
    position: absolute;
    left: 10px;
    background-position: center;
}

.section-50-rigth{
    margin-top: 25px;
    width: calc(50% - 20px);
    height: 580px;
    background-size: 1262px 580px;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    background-position: center;
}

.text-section-100{
    position: absolute;
    z-index: 1;
    text-align: center;
    margin: 0 auto;
    color: white;
    left: calc(50% + 0px);
    transform: translatex(-50%);
}

.text-section-50{
    position: absolute;
    z-index: 1;
    text-align: center;
    margin: 0 auto;
    color: white;
}

.black h2{
    font-size: 28px;
    color: aliceblue;
}

.black h3{
    font-size: 20px;
    color: aliceblue;
    font-weight: normal;
}

.black p{
    font-size: 18px;
    color: #7A7A7E;
}

.link-section{
    font-size: 18px;
    color: #2997FF;
}

.link-section:hover{
    color: #2997FF;
    text-decoration: underline;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    z-index: 10;
}

.white h2{
    font-size: 28px;
    color: #000000;
}

.white h3{
    font-size: 20px;
    color: #000000;
    font-weight: normal;
}

.white p{
    font-size: 18px;
    color: #7A7A7E;
}

.black-100 h2{
    font-size: 52px;
    color: aliceblue;
}

.black-100 h3{
    font-size: 28px;
    color: aliceblue;
    font-weight: normal;
}

.black-100 p{
    font-size: 22px;
    color: #7A7A7E;
}

.white-100 h2{
    font-size: 52px;
    color: #000000;
}

.white-100 h3{
    font-size: 28px;
    color: #000000;
    font-weight: normal;
}

.white-100 p{
    font-size: 22px;
    color: #7A7A7E;
}

@media (max-width: 734px) {
    .secction-100{
        height: 548px;
        background-size: 734px;
    }

    .section-50-left{
        position: absolute;
        width: 100vw;
        height: 548px;
        background-size: 734px;
        background-position: center;
        left: 0;
    }
    
    .section-50-rigth{
        position: absolute;
        width: 100vw;
        height: 548px;
        background-size: 734px;
        background-position: center;
        left: 0;
    }

    .black h2{
        font-size: 32px;
        color: aliceblue;
    }
    
    .black h3{
        font-size: 19px;
        color: aliceblue;
        font-weight: normal;
    }
    
    .black p{
        font-size: 17px;
        color: #7A7A7E;
    }
    
    .link-section{
        font-size: 18px;
        color: #2997FF;
    }
    
    .link-section:hover{
        color: #2997FF;
        text-decoration: underline;
    }
    
    a.fill-div {
        display: block;
        height: 100%;
        width: 100%;
        text-decoration: none;
        z-index: 10;
    }
    
    .white h2{
        font-size: 32px;
        color: #000000;
    }
    
    .white h3{
        font-size: 19px;
        color: #000000;
        font-weight: normal;
    }
    
    .white p{
        font-size: 17px;
        color: #7A7A7E;
    }
    
    .black-100 h2{
        font-size: 32px;
        color: aliceblue;
    }
    
    .black-100 h3{
        font-size: 19px;
        color: aliceblue;
        font-weight: normal;
    }
    
    .black-100 p{
        font-size: 17px;
        color: #7A7A7E;
    }
    
    .white-100 h2{
        font-size: 32px;
        color: #000000;
    }
    
    .white-100 h3{
        font-size: 19px;
        color: #000000;
        font-weight: normal;
    }
    
    .white-100 p{
        font-size: 17px;
        color: #7A7A7E;
    }
  }

/*NAVEGACIÓN====================================================*/
.first-nav{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    z-index: 2;
}

.first-nav ul{
    display: flex;
    gap: 45px;
    align-items: center;
}

.first-nav ul li{
    list-style: none;
    padding: 12px 0;
    font-size: 12px;
}

a{
    text-decoration: none;
    color: #e4e3e3;
    padding: 12px 0;
    transition: 0.3s;
    font-weight: 400;
    letter-spacing: -.01em;
}

a:hover{
    color: #fffefe;
}

.second-nav{
    display: none;
    padding: 0px 15px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    z-index: 2;
}

@media (max-width: 833px) {
    .first-nav {
      display: none;
    }
    .second-nav{
        display: flex;
    }
  }


/*SECCION 1=====================================================*/
.secction-1{
    margin-top: 25px;
    background-image: url('./WEB/principal.jpg');
}

.text-section-1{
    top: 90px;
}

@media (max-width: 734px) {
    .secction-1{
        background-image: url('./PHONE/principalphone.jpg');
    }
  }



/*SECCION 2=====================================================*/
.secction-2{
    margin-top: 25px;
    background-image: url("./WEB/iphones14.jpg");
    top: 736px;
}

.text-section-2{
    top: 826px;
}

@media (max-width: 734px) {
    .secction-2{
        top: 548px;
        background-image: url('./PHONE/iphones.jpg');
    }
    .text-section-2{
        top: 613px;
    }
  }

/*SECCION 3=====================================================*/
.secction-3{
    margin-top: 25px;
    background-image: url("./WEB/airpods.jpg");
    top: 1472px;
}

.text-section-3{
    top: 1562px;
}

@media (max-width: 734px) {
    .secction-3{
        top: 1096px;
        background-image: url('./PHONE/airpods.jpg');
    }
    .text-section-3{
        top: 1161px;
    }
  }

/*SECCION 4=====================================================*/
.secction-4-1{
    background-image: url("./WEB/relojnaranja.jpg");
    top: 2220px;
}

.text-section-4-1{
    top: 2298px;
    left: calc(25% + 10px);
    transform: translatex(-51%);
}
.secction-4-2{
    background-image: url("./WEB/relojmundo.jpg");
    top: 2220px;
}

.text-section-4-2{
    top: 2298px;
    right: calc(25% + 10px);
    transform: translatex(51%);
}

.secction-4-3{
    background-image: url("./WEB/fitness.jpg");
    top: 2810px;
}

.text-section-4-3{
    top: 2888px;
    left: calc(25% + 10px);
    transform: translatex(-51%);
}


.secction-4-4{
    background-image: url("./WEB/relojes.jpg");
    top: 2810px;
}

.text-section-4-4{
    top: 2888px;
    right: calc(25% + 10px);
    transform: translatex(51%);
}

#orange{
    color: #FD6B14;
    font-weight: bold;
    font-size: 14px;
}

#red{
    color: #BB1E24;
    font-weight: bold;
    font-size: 14px;
}

@media (max-width: 734px) {
    .secction-4-1{
        background-image: url("./PHONE/relojnaranja.jpg");
        top: 1644px;
    }
    
    .text-section-4-1{
        width: 100%;
        left: calc(50% + 0px);
        transform: translatex(-50%);
        top: 1709px;
    }
    .secction-4-2{
        background-image: url("./PHONE/relojmundo.jpg");
        top: 2192px;
    }
    
    .text-section-4-2{
        width: 100%;
        left: calc(50% + 0px);
        transform: translatex(-50%);
        top: 2257px;
    }
    
    .secction-4-3{
        background-image: url("./PHONE/fitness.jpg");
        top: 2740px;
    }
    
    .text-section-4-3{
        width: 100%;
        left: calc(50% + 0px);
        transform: translatex(-50%);
        top: 2805px;
    }

    .secction-4-4{
        background-image: url("./PHONE/relojes.jpg");
        top: 3288px;
    }
    
    .text-section-4-4{
        width: 100%;
        left: calc(50% + 0px);
        transform: translatex(-50%);
        top: 3353px;
    }
    
    #orange{
        color: #FD6B14;
        font-weight: bold;
        font-size: 14px;
    }
    
    #red{
        color: #BB1E24;
        font-weight: bold;
        font-size: 14px;
    }
  }
/*SECCION 5=====================================================*/
.secction-5-1{
    background-image: url("./WEB/badbunny.jpg");
    top: 3400px;
}

.text-section-5-1{
    top: 3448px;
    left: calc(25% + 10px);
    transform: translatex(-51%);
}



.secction-5-2{
    background-image: url("./WEB/other.jpg");
    top: 3400px;
}

.text-section-5-2{
    top: 3448px;
    right: calc(25% + 50px);
    transform: translatex(51%);
}

@media (max-width: 734px) {
    .secction-5-1{
        background-image: url("./PHONE/badbunny.jpg");
        top: 3836px;
    }
    
    .text-section-5-1{
        width: 100%;
        top: 3901px;
        left: calc(50% + 0px);
        transform: translatex(-50%);
    }
    
    
    
    .secction-5-2{
        background-image: url("./PHONE/carcel.jpg");
        top: 4384px;
    }
    
    .text-section-5-2{
        width: 100%;
        top: 4449px;
        left: calc(50% + 0px);
        transform: translatex(-50%);
    }
}

/*FOOTER========================================================*/
footer{
    width: 100vw;
    margin-top: 25px;
    position: absolute;
    top: 3993px;
    background-color: #F5F5F7;
}

.container-footer{
    max-width: 990px;
    margin: auto;
    padding: 0px 10px;
    color: #8E8E92;
}

.container-footer p{
    font-size: 13px;
    margin: 8px 0;
}

.list{
    display: flex;
    justify-content: space-between;
}

.list ul li{
    margin: 5px 0;
    list-style: none;
    font-size: 13px;
}

.list ul li a{
    color: #6E6E73;
}

.list ul li a:hover{
    color: #6E6E73;
    text-decoration: underline;
}

.li-head{
    color: #1d1d1fd5;
    font-weight: bold;
}
#principal{
    text-align: center;
}

.list-2{
    display: none;
}

@media (max-width: 734px) {
    footer{
        top: 4932px;
    }
}

@media (max-width: 833px) {
    .list{
        display: none;
    }
    .list-2{
        display: block;
        margin-top: 25px;
    }
    .collapse{
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #6E6E73;
    }
}